.myheader{
    text-align: center;
    background-color: white;
}
.profilePic{
    border-radius: 50%;
}
.carousel-item {
    height: 500px;
    text-align: center;
}
.item1 {
  background-color:white;
  background-image: url(https://ei.marketwatch.com/Multimedia/2019/02/25/Photos/ZQ/MW-HE536_airpla_20190225131547_ZQ.jpg?uuid=5fa81d1a-3929-11e9-9462-ac162d7bc1f7)
  /*height: 100px;*/
}
.item2 {
  background-image: url(https://pagedesignshop.com/wp-content/uploads/2017/07/automobile-3-1.jpg)
  /*height: 100px;*/
}

.item3 {
  background-color:white;
  background-image: url(https://www.brihaspatitech.com/wp-content/uploads/2017/08/cross-border-ecomm-home-banner.jpg)
  /*height: 100px;*/
}

#about{
  text-align: center;
  width: 100%;
}
#education{
  text-align: center;
  width: 100%;
}
#jobs{
  text-align: center;
  width: 100%;
}
#skills{
  text-align: center;
  width: 100%;
}
#hobbies{
  text-align: center;
  width: 100%;
}
#contact{
  text-align: center;
  width: 100%;
}


